* {
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

body *
{
    position: relative;
    display: block;
    margin: 0;
    padding: 2px;
    /* border: 1px solid blue; */
}

.webgl
{
    pointer-events: all;
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    padding: 0;
}

.pageContainer {
    /* background-color: rgba(255,255,255, 0.5); */
    /* backdrop-filter: blur(5px); */
    pointer-events: none;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
}

header {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #fff;
    color: #000;
}

.selectDoggies {
    position: relative;
    width: 100%;
    display: flex;
}

.dogsThumbnails {
    width: 30%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.dogSelector {
    pointer-events: all;
    width: 100px;
    height: 70px;
    margin-bottom: 10px;
    transition: all 0.7s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.dogSelector:hover {
    transform: translate3d(20px, 0, 0);
}

    .dogSelector button {
        appearance: none;
        background: none;
        border: none;
        cursor: pointer;
    }
    .dogSelector img {
        width: 100%;
    }

    .dogSelector h2 {
        position: absolute;
        bottom: 0;
        color: #fff;
        text-shadow: 2px 2px #000;
    }
    
.selectedDoggieSpace {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
/* .dogSelector:hover {
    transform: translate3d(20px, 0, 0);
} */